body {
    background-image: url('book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*text*/
h1 {
    font-size: 40px;
    text-align: center;
    color:rgb(224, 186, 115);
    text-shadow: 4px 4px 4px #000;
    
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  

  /*zone de text*/
  input {
    font-size: 16px;
    padding: 8px;
    margin-left: 10px;
    border: none;/*border*/
    border-radius: 5px;/*dora nt3 morb3*/
   
  }
  /*buton search*/
  button {
    font-size: 18px;
    padding: 8px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #921a30;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  /*ki tmis boton ywarli hika */
  button[type=submit]:hover {
    background-color: #d95700;
  }
  
  #results {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(204, 204, 204);
  }
  
  .book {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    cursor: pointer;
  }
  
  .book:hover {
    background-color: #f0f0f0;
  }
  
  #book-details {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    display: none;
  }
  
  #book-details img {
    max-width: 100%;
  }
  
  #book-details h2 {
    margin-top: 0;
  }
  
  #book-details p {
    margin-top: 10px;
  }